<footer class="bg-danger">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>About Us</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
            commodi voluptatem placeat asperiores. Possimus commodi reiciendis
            nisi sed tenetur illum dicta provident tempora magnam. Veniam
            blanditiis quasi quia ut deserunt.
          </p>
        </div>
        <div class="col-md-6">
          <h2>Contact Us</h2>
          <hr />
  
          <form action="" method="POST" role="form">
            <div class="form-group">
              <label for="">Email</label>
              <input
                type="text"
                class="form-control"
                id=""
                placeholder="Input field"
              />
            </div>
  
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </footer>
