<app-header />

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form action="" method="POST" [formGroup]="loginF" (submit)="onSubmit()">
        <legend>Form Login</legend>

        <div class="form-group">
          <label for="">Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Input field"
          />
          <div *ngIf="loginF['controls']['name'].errors">
            <small *ngIf="loginF['controls']['name'].errors['required']"
              >Họ tên không được để trống</small
            >
            <small *ngIf="loginF['controls']['name'].errors['minlength']"
              >Họ tên tối thiểu là 3 ký tự</small
            >
            <small *ngIf="loginF['controls']['name'].errors['maxlength']"
              >Họ tên tối đa là 16 ký tự</small
            >
          </div>
        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Input field"
          />
          <div *ngIf="loginF['controls']['email'].errors">
            <small *ngIf="loginF['controls']['email'].errors['required']"
              >Email không được để trống</small
            >
            <small *ngIf="loginF['controls']['email'].errors['email']"
              >Email chưa đúng định dạng (myname&#64;gmail.com)</small
            >
          </div>
        </div>

        <div class="form-group">
          <label for="">Password</label>
          <input
            type="text"
            class="form-control"
            formControlName="password"
            placeholder="Input field"
          />
          <div *ngIf="loginF['controls']['password'].errors">
            <small *ngIf="loginF['controls']['password'].errors['required']"
              >Mật khẩu không được để trống</small
            >
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="loginF.invalid"
        >
          Submit
        </button>
      </form>
    </div>

    <div class="col-md-8">
      <h3>Danh sách sinh viên</h3>

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>STT</th>
            <th>Họ Tên</th>
            <th>Email</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let std of students; let idx = index">
            <td>{{ idx + 1 }}</td>
            <td>{{ std.name }}</td>
            <td>{{ std.email }}</td>
            <td>{{ std.password }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>
